@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

* {
    font-family:  'Press Start 2P';
}

:root{
    --font_primaria: 'Press Start 2P';
    --background-color-buttons: #2B2823;
    --background-color-menu: #E6D3B6;
    --backfround-pai: #383734;
    --color-texto-mario-bros: #534C36;
}

body {
    margin: 0px;
}

.caixa-pai {
    width: 100vw;
    height: 100vh;
    background-color: var(--backfround-pai);
    position: relative;
}

.caixa-dentro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
} 

.caixa-game {
    width: 70%;
    height: 100%;
    background-color: antiquewhite;
    float: left;
}

.caixa-menu {
    width: 30%;
    height: 100%;
    background-color: var(--background-color-menu);
    position: relative;
    float: left;
}

.caixa-menu h1{
    color: var(--color-texto-mario-bros);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5em;
    font-size: 2.1em;
    text-align: center;
    
}

.botao-iniciar, .botao-reiniciar {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-color-buttons);
    color: white; 
    box-shadow: 3px 3px 0px #534C36;

    cursor: pointer;
    transition: 0.4s;
}

.botao-iniciar {
    top: 300px;
}

.caixa-menu .botao-reiniciar{ 
    top: 365px;
}


.caixa-menu .botao-iniciar:hover, .botao-reiniciar:hover {
    background-color: #4b453b;
}

.caixa-game {
    display: block;
}

.caixa-game .background {
    height: 73%;
    background-image: url(imagens-projeto/background-mario.png);
    background-repeat: repeat-x;
    background-size: contain; 
    position: relative;
}

.caixa-game .grama {
    width: 100%;
    height: 2%;
    background-image: url(imagens-projeto/grama-mario.png);
}

.caixa-game .terreno {
    width: 100%;
    height: 25%;
    background-image: url(imagens-projeto/terreno-mario.png);
}

.background #gif-mario{
    width: 100px;
    position: absolute;
    bottom: 0px;
    left: 50px;
}

.background #obstaculo-mario{
    width: 60px;
    position: absolute;
    bottom: 0px;
    left: 190px;
}

.background #nuvens-mario{
    width: 300px;
    position: absolute;
    top: 40px;
    left: -300px;
    animation-name: nuvens-movimento;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes nuvens-movimento {
    to{
        transform: translateX(0px);
    }
    from{
        transform: translateX(1000px);
    }
}


